.kontak{
    padding-top: 80px;
}

.position{
    position: relative;
    margin-top: 75px;
}



.nav li a{
	color: #fff;
	font-weight: 800;
	font-size: 1.2em;
	background: rgb(51, 48, 48);
	border-radius: 20px;
}

.navbar-brand{
	color: rgb(15, 15, 15);
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}

.nav{
	margin-right:10%; 
}


.nav li a:hover{
	color: #2c800b;
}
