
/* body{
    background:url('https://images.unsplash.com/photo-1516540438350-9db0f4e6552f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');

} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.profile-img{
    border-radius: 20px;
    /* max-width: 500px; */
    width: 250px;
    margin-top: 25px;
}

.media-body{
    padding-left: 20px;
    margin-left: 20px;
}

.position{
    position: relative;
    margin-top: 83px;
}

/* .stick{
    background: yellow;
} */


.nav li a{
	color: #fff;
	font-weight: 800;
	font-size: 1.2em;
	background: rgb(51, 48, 48);
	border-radius: 20px;
}

.navbar-brand{
	color: rgb(15, 15, 15);
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}

.nav{
	margin-right:10%; 
}


.nav li a:hover{
	color: #2c800b;
}
